html,body{
    height: 100%;
    background-color: rgb(37, 194, 181);
}

.container{
    background-color: rgb(18, 192, 192);
}
.empcard{
    min-height: 80vh;
}

.errors{
    color:red;
    font-weight: bold;
}

label{
    font-weight: 500;
}

.alert-success{
    color: white;
    font-weight: 400;
    background-color: green;
}

.alert-error{
    color: white;
    font-weight: 400;
    background-color: red;
}